body {
	background-image: url('../img/background-2.gif');
}

.header {
	width: auto;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	background: rgba(255, 255, 255, 0.6);
}

.law-header {
	user-select: none;
	float: left;
	text-align: center;
	width: 300px;
	height: 60px;
	overflow: hidden;
}

.a-login {
	position: absolute;
	user-select: none;
	margin: 0 0 0 1000px;
	float: left;
	text-align: center;
	width: 50px;
	height: 60px;
	color: black;
}

.a-signup {
	position: absolute;
	user-select: none;
	margin: 0 0 0 1100px;
	float: left;
	text-align: center;
	width: 50px;
	height: 60px;
	color: black;
}

.welcome {
	position: absolute;
	user-select: none;
	margin: 0 0 0 1000px;
	float: left;
	text-align: center;
	width: 200px;
	height: 60px;
}

#logout {
	position: absolute;
	user-select: none;
	margin: 0 0 0 1200px;
	float: left;
	text-align: center;
	width: 200px;
	height: 60px;
	cursor: pointer
}

.wrapper {
	margin: 10px auto;
	width: 1300px;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	font-size: 20px;
}

.cs-box {
	float: left;
	width: 250px;
	height: 100%;
	border-right: rgba(0, 0, 0) solid 1px;
	background: url('../img/background-3.jpg');
	opacity: 0.8;
}

.onlinecs {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	border-bottom: rgba(0, 0, 0) solid 1px;
}

#cs-list li {
	user-select: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: rgba(0, 0, 0) solid 1px;
}

#cs-list li:hover {
	cursor: pointer;
	background-color: rgb(160, 160, 160);
}

.comeinmes {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	border-bottom: rgba(0, 0, 0) solid 1px;
}

#user-list li {
	user-select: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: rgba(0, 0, 0) solid 1px;
}

#user-list li:hover {
	cursor: pointer;
	background-color: rgb(160, 160, 160);
}

.text-box {
	left: 300px;
	height: 500px;
	width: 900px;
	margin: 0 0 0 300px;
	border: rgba(0, 0, 0) solid 1px;
}
.whochat{
	height:30px;
	text-align:center;
	border-bottom: rgb(0, 0, 0) solid 1px;
}

.input-box {
	height: 200px;
	width: 900px;
	margin: 0 0 0 300px;
	border: rgba(0, 0, 0) solid 1px;
}

#info {
	float: left;
	margin: 10px 0 0 10px;
	width: 700px;
	height: 50px;
	border: rgba(0, 0, 0) solid 2px;
	overflow: auto;
}

#btn {
	margin: 10px 0 0 10px;
	float: left;
	width: 80px;
	height: 50px;
}

#btn-submit {
	margin: 10px 0 0 10px;
	float: left;
	width: 80px;
	height: 50px;
}

.emoji-cont {
	width: 80%;
	height: 50px;
}